USE [master]
GO
/****** Object:  Database [seminariodosColumnar201603047]    Script Date: 1/04/2022 23:09:10 ******/
CREATE DATABASE [seminariodosColumnar201603047]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'seminariodosColumnar201603047', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\seminariodosColumnar201603047.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'seminariodosColumnar201603047_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\seminariodosColumnar201603047_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [seminariodosColumnar201603047].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [seminariodosColumnar201603047]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 1/04/2022 23:09:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](150) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Tipo] [varchar](150) NOT NULL,
	[Direccion] [varchar](150) NOT NULL,
	[Numero] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compra]    Script Date: 1/04/2022 23:09:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compra](
	[IdCompra] [int] IDENTITY(1,1) NOT NULL,
	[Unidades] [int] NOT NULL,
	[Costo] [real] NOT NULL,
	[Sucursal_IdSucursal] [int] NOT NULL,
	[Producto_IdProducto] [int] NOT NULL,
	[Proveedor_IdProveedor] [int] NOT NULL,
	[Tiempo_IdFecha] [int] NOT NULL,
	[Region_IdRegion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComprasTemp]    Script Date: 1/04/2022 23:09:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComprasTemp](
	[Fecha] [varchar](200) NULL,
	[CodProveedor] [varchar](200) NULL,
	[NombreProveedor] [varchar](200) NULL,
	[DireccionProveedor] [varchar](200) NULL,
	[NumeroProveedor] [varchar](200) NULL,
	[WebProveedor] [varchar](200) NULL,
	[CodProduct] [varchar](200) NULL,
	[NombreProducto] [varchar](200) NULL,
	[MarcaProducto] [varchar](200) NULL,
	[Categoria] [varchar](200) NULL,
	[CodSucursal] [varchar](200) NULL,
	[NombreSucursal] [varchar](200) NULL,
	[DireccionSucursal] [varchar](200) NULL,
	[Region] [varchar](200) NULL,
	[Departamento] [varchar](200) NULL,
	[Unidades] [varchar](200) NULL,
	[CostoU] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 1/04/2022 23:09:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](100) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Marca] [varchar](150) NOT NULL,
	[Categoria] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 1/04/2022 23:09:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[IdProveedor] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](100) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Direccion] [varchar](200) NOT NULL,
	[Numero] [int] NOT NULL,
	[Web] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Region]    Script Date: 1/04/2022 23:09:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Region](
	[IdRegion] [int] IDENTITY(1,1) NOT NULL,
	[Region] [varchar](150) NOT NULL,
	[Departamento] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRegion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sucursal]    Script Date: 1/04/2022 23:09:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sucursal](
	[IdSucursal] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](150) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Direccion] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tiempo]    Script Date: 1/04/2022 23:09:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tiempo](
	[IdFecha] [int] IDENTITY(1,1) NOT NULL,
	[Año] [int] NULL,
	[Mes] [int] NULL,
	[Dia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendedor]    Script Date: 1/04/2022 23:09:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendedor](
	[IdVendedor] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](150) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Vacacionista] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVendedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 1/04/2022 23:09:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[IdVenta] [int] IDENTITY(1,1) NOT NULL,
	[Unidades] [int] NOT NULL,
	[PrecioUnitario] [real] NOT NULL,
	[Cliente_IdCliente] [int] NOT NULL,
	[Tiempo_IdFecha] [int] NOT NULL,
	[Vendedor_IdVendedor] [int] NOT NULL,
	[Sucursal_IdSucursal] [int] NOT NULL,
	[Producto_IdProducto] [int] NOT NULL,
	[Region_IdRegion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VentasTemp]    Script Date: 1/04/2022 23:09:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VentasTemp](
	[Fecha] [varchar](200) NULL,
	[CodigoCliente] [varchar](200) NULL,
	[NombreCliente] [varchar](200) NULL,
	[TipoCliente] [varchar](200) NULL,
	[DireccionCliente] [varchar](200) NULL,
	[NumeroCliente] [varchar](200) NULL,
	[CodVendedor] [varchar](200) NULL,
	[NombreVendedor] [varchar](200) NULL,
	[Vacacionista] [varchar](200) NULL,
	[CodProducto] [varchar](200) NULL,
	[NombreProducto] [varchar](200) NULL,
	[MarcaProducto] [varchar](200) NULL,
	[Categoria] [varchar](200) NULL,
	[SodSuSursal] [varchar](200) NULL,
	[NombreSucursal] [varchar](200) NULL,
	[DireccionSucursal] [varchar](200) NULL,
	[Region] [varchar](200) NULL,
	[Departamento] [varchar](200) NULL,
	[Unidades] [varchar](200) NULL,
	[PrecioUnitario] [varchar](200) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([IdCliente], [Codigo], [Nombre], [Tipo], [Direccion], [Numero]) VALUES (1, N'C0001', N'Jose Arturo Bayardi Lozano', N'Minorista', N'calzada atanasio tzul 22-00 zona 12, el cortijo ii, oficina 100', 69555645)
INSERT [dbo].[Cliente] ([IdCliente], [Codigo], [Nombre], [Tipo], [Direccion], [Numero]) VALUES (2, N'C0002', N'Nora Alicia Annunziatto Martino', N'Mayorista', N'avenida centroamerica 13-42 zona 1,', 72863896)
INSERT [dbo].[Cliente] ([IdCliente], [Codigo], [Nombre], [Tipo], [Direccion], [Numero]) VALUES (3, N'C0003', N'Roberto Baz Cogo', N'Minorista', N'13 calle 3-40 zona 10, edificio atlantis, nivel 12, oficina 1202,', 52760274)
GO
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[Compra] ON 

INSERT [dbo].[Compra] ([IdCompra], [Unidades], [Costo], [Sucursal_IdSucursal], [Producto_IdProducto], [Proveedor_IdProveedor], [Tiempo_IdFecha], [Region_IdRegion]) VALUES (1, 80, 470, 33, 55, 1, 1, 18)
INSERT [dbo].[Compra] ([IdCompra], [Unidades], [Costo], [Sucursal_IdSucursal], [Producto_IdProducto], [Proveedor_IdProveedor], [Tiempo_IdFecha], [Region_IdRegion]) VALUES (2, 418, 546, 3, 11, 2, 2, 14)
INSERT [dbo].[Compra] ([IdCompra], [Unidades], [Costo], [Sucursal_IdSucursal], [Producto_IdProducto], [Proveedor_IdProveedor], [Tiempo_IdFecha], [Region_IdRegion]) VALUES (3, 606, 136, 92, 4, 3, 3, 4)
GO
SET IDENTITY_INSERT [dbo].[Compra] OFF
GO
INSERT [dbo].[ComprasTemp] ([Fecha], [CodProveedor], [NombreProveedor], [DireccionProveedor], [NumeroProveedor], [WebProveedor], [CodProduct], [NombreProducto], [MarcaProducto], [Categoria], [CodSucursal], [NombreSucursal], [DireccionSucursal], [Region], [Departamento], [Unidades], [CostoU]) VALUES (N'11/01/2020', N'P0001', N'CESAR ADRIAN GERONIS ROMERO', N'10 avenida 4-54 zona 12,', N'42022451', N'S', N'OP00087', N'Gaseosa Pepsi + Seven Up  ', N'COCA COLA', N'Bebidas', N'S0033', N'Sucursal33', N'avendia petapa 40-18 zona 12,', N'Suroriente1', N'Jutiapa', N'80', N'470.04')
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([IdProducto], [Codigo], [Nombre], [Marca], [Categoria]) VALUES (1, N'AC00005', N'Cerveza Hofbrau Munchen Dunkel botella ', N'ZENU', N'Vinos y Licores')
INSERT [dbo].[Producto] ([IdProducto], [Codigo], [Nombre], [Marca], [Categoria]) VALUES (2, N'AC00008', N'Cerveza paulaner weissbier botella ', N'ZENU', N'Vinos y Licores')
INSERT [dbo].[Producto] ([IdProducto], [Codigo], [Nombre], [Marca], [Categoria]) VALUES (3, N'AC00014', N'Cerveza Miller Genuine Draft Bot. ', N'ZENU', N'Vinos y Licores')
GO
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedor] ON 

INSERT [dbo].[Proveedor] ([IdProveedor], [Codigo], [Nombre], [Direccion], [Numero], [Web]) VALUES (1, N'P0001', N'CESAR ADRIAN GERONIS ROMERO', N'10 avenida 4-54 zona 12,', 42022451, N'S')
INSERT [dbo].[Proveedor] ([IdProveedor], [Codigo], [Nombre], [Direccion], [Numero], [Web]) VALUES (2, N'P0002', N'AGILENT TECHNOLOGIES MEXICO, S. DE R.L. DE C.V.', N'17 calle y 19 avenida, bodega 3, zona 10,', 41927426, N'N')
INSERT [dbo].[Proveedor] ([IdProveedor], [Codigo], [Nombre], [Direccion], [Numero], [Web]) VALUES (3, N'P0003', N'ABELLA Y VALENCIA SA DE CV', N'"6 avenida 8-08 apartamento ""a"" zona 10,"', 30913908, N'S')
GO
SET IDENTITY_INSERT [dbo].[Proveedor] OFF
GO
SET IDENTITY_INSERT [dbo].[Region] ON 

INSERT [dbo].[Region] ([IdRegion], [Region], [Departamento]) VALUES (1, N'Central1', N'Chimaltenango')
INSERT [dbo].[Region] ([IdRegion], [Region], [Departamento]) VALUES (2, N'Central2', N'Sacatepequez')
INSERT [dbo].[Region] ([IdRegion], [Region], [Departamento]) VALUES (3, N'Central3', N'Escuintla')
SET IDENTITY_INSERT [dbo].[Region] OFF
GO
SET IDENTITY_INSERT [dbo].[Sucursal] ON 

INSERT [dbo].[Sucursal] ([IdSucursal], [Codigo], [Nombre], [Direccion]) VALUES (1, N'S0001', N'Sucursal1', N'kilometro 20 carretera al pacifico, parque industrial unisur, local no. 1, delta barcenas,')
INSERT [dbo].[Sucursal] ([IdSucursal], [Codigo], [Nombre], [Direccion]) VALUES (2, N'S0002', N'Sucursal2', N'5 avenida 5-55 zona 14 edificio euro plaza torre 2 nivel 16 oficina 1602,')
INSERT [dbo].[Sucursal] ([IdSucursal], [Codigo], [Nombre], [Direccion]) VALUES (3, N'S0003', N'Sucursal3', N'"8 avenida 3-90 zona 14 oficina 4""b"", edificio la rambla,"')
GO
SET IDENTITY_INSERT [dbo].[Sucursal] OFF
GO
SET IDENTITY_INSERT [dbo].[Tiempo] ON 

INSERT [dbo].[Tiempo] ([IdFecha], [Año], [Mes], [Dia]) VALUES (1, 2020, 1, 11)
INSERT [dbo].[Tiempo] ([IdFecha], [Año], [Mes], [Dia]) VALUES (2, 2020, 1, 12)
INSERT [dbo].[Tiempo] ([IdFecha], [Año], [Mes], [Dia]) VALUES (3, 2020, 1, 13)
GO
SET IDENTITY_INSERT [dbo].[Tiempo] OFF
GO
SET IDENTITY_INSERT [dbo].[Vendedor] ON 

INSERT [dbo].[Vendedor] ([IdVendedor], [Codigo], [Nombre], [Vacacionista]) VALUES (1, N'V0001', N'Nelson Mario Caffera Morandi', 1)
INSERT [dbo].[Vendedor] ([IdVendedor], [Codigo], [Nombre], [Vacacionista]) VALUES (2, N'V0002', N'Sergio Bonilla Marabotto', 0)
INSERT [dbo].[Vendedor] ([IdVendedor], [Codigo], [Nombre], [Vacacionista]) VALUES (3, N'V0003', N'Gabriel Aramburu', 0)
SET IDENTITY_INSERT [dbo].[Vendedor] OFF
GO
SET IDENTITY_INSERT [dbo].[Venta] ON 

INSERT [dbo].[Venta] ([IdVenta], [Unidades], [PrecioUnitario], [Cliente_IdCliente], [Tiempo_IdFecha], [Vendedor_IdVendedor], [Sucursal_IdSucursal], [Producto_IdProducto], [Region_IdRegion]) VALUES (1, 305, 39, 1, 4, 29, 60, 55, 5)
INSERT [dbo].[Venta] ([IdVenta], [Unidades], [PrecioUnitario], [Cliente_IdCliente], [Tiempo_IdFecha], [Vendedor_IdVendedor], [Sucursal_IdSucursal], [Producto_IdProducto], [Region_IdRegion]) VALUES (2, 425, 90, 2, 352, 24, 118, 11, 11)
INSERT [dbo].[Venta] ([IdVenta], [Unidades], [PrecioUnitario], [Cliente_IdCliente], [Tiempo_IdFecha], [Vendedor_IdVendedor], [Sucursal_IdSucursal], [Producto_IdProducto], [Region_IdRegion]) VALUES (3, 417, 572, 3, 353, 33, 74, 4, 2)
GO
SET IDENTITY_INSERT [dbo].[Venta] OFF
GO
ALTER TABLE [dbo].[Compra]  WITH NOCHECK ADD  CONSTRAINT [FK_Compra_Producto] FOREIGN KEY([Producto_IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[Compra] CHECK CONSTRAINT [FK_Compra_Producto]
GO
ALTER TABLE [dbo].[Compra]  WITH NOCHECK ADD  CONSTRAINT [FK_Compra_Proveedor] FOREIGN KEY([Proveedor_IdProveedor])
REFERENCES [dbo].[Proveedor] ([IdProveedor])
GO
ALTER TABLE [dbo].[Compra] CHECK CONSTRAINT [FK_Compra_Proveedor]
GO
ALTER TABLE [dbo].[Compra]  WITH NOCHECK ADD  CONSTRAINT [FK_Compra_Region] FOREIGN KEY([Region_IdRegion])
REFERENCES [dbo].[Region] ([IdRegion])
GO
ALTER TABLE [dbo].[Compra] CHECK CONSTRAINT [FK_Compra_Region]
GO
ALTER TABLE [dbo].[Compra]  WITH NOCHECK ADD  CONSTRAINT [FK_Compra_Sucursal] FOREIGN KEY([Sucursal_IdSucursal])
REFERENCES [dbo].[Sucursal] ([IdSucursal])
GO
ALTER TABLE [dbo].[Compra] CHECK CONSTRAINT [FK_Compra_Sucursal]
GO
ALTER TABLE [dbo].[Compra]  WITH NOCHECK ADD  CONSTRAINT [FK_Compra_Tiempo] FOREIGN KEY([Tiempo_IdFecha])
REFERENCES [dbo].[Tiempo] ([IdFecha])
GO
ALTER TABLE [dbo].[Compra] CHECK CONSTRAINT [FK_Compra_Tiempo]
GO
ALTER TABLE [dbo].[Venta]  WITH NOCHECK ADD  CONSTRAINT [FK_Venta_Cliente] FOREIGN KEY([Cliente_IdCliente])
REFERENCES [dbo].[Cliente] ([IdCliente])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_Cliente]
GO
ALTER TABLE [dbo].[Venta]  WITH NOCHECK ADD  CONSTRAINT [FK_Venta_Producto] FOREIGN KEY([Producto_IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_Producto]
GO
ALTER TABLE [dbo].[Venta]  WITH NOCHECK ADD  CONSTRAINT [FK_Venta_Region] FOREIGN KEY([Region_IdRegion])
REFERENCES [dbo].[Region] ([IdRegion])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_Region]
GO
ALTER TABLE [dbo].[Venta]  WITH NOCHECK ADD  CONSTRAINT [FK_Venta_Sucursal] FOREIGN KEY([Sucursal_IdSucursal])
REFERENCES [dbo].[Sucursal] ([IdSucursal])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_Sucursal]
GO
ALTER TABLE [dbo].[Venta]  WITH NOCHECK ADD  CONSTRAINT [FK_Venta_Tiempo] FOREIGN KEY([Tiempo_IdFecha])
REFERENCES [dbo].[Tiempo] ([IdFecha])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_Tiempo]
GO
ALTER TABLE [dbo].[Venta]  WITH NOCHECK ADD  CONSTRAINT [FK_Venta_Vendedor] FOREIGN KEY([Vendedor_IdVendedor])
REFERENCES [dbo].[Vendedor] ([IdVendedor])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_Vendedor]
GO
USE [master]
GO
